{% load staticfiles %}
<html>
    <head><html>
        <head>
            <title>signup user</title>
        </head>

        <body>
            <h1>Register with blog</h1>

            {% if registered %}
            vaibhav says: <strong>thank you for registering!</strong>
            <a href="/blog/">Return to the homepage.</a><br />
            {% else %}
            vaibhav says: <strong>register here!</strong><br />

            <form id="form" method="post" action="{% url 'signup' %}">

                {% csrf_token %}
                {{ user_form.as_p }}

                <!-- Provide a button to click to submit the form. -->
                <input type="submit" name="submit" value="Register" />
            </form>
            {% endif %}
   </body>
</html>
